<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - URL Shortener</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      .container {
        max-width: 500px;
        margin-top: 50px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2 class="text-center">Login</h2>
      <form id="loginForm" class="mt-4">
        <div
          id="error-message"
          class="alert alert-danger d-none"
          role="alert"
        ></div>
        <div class="form-group">
          <label for="loginEmail">Email address</label>
          <input
            type="email"
            class="form-control"
            id="loginEmail"
            placeholder="Enter email"
            required
          />
        </div>
        <div class="form-group">
          <label for="loginPassword">Password</label>
          <input
            type="password"
            class="form-control"
            id="loginPassword"
            placeholder="Password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </form>
      <p class="text-center mt-3">
        Don't have an account? <a href="/register">Register here</a>
      </p>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      document
        .getElementById("loginForm")
        .addEventListener("submit", async function (e) {
          e.preventDefault();
          const email = document.getElementById("loginEmail").value;
          const password = document.getElementById("loginPassword").value;
          const errorMessageElement = document.getElementById("error-message");

          const response = await fetch("/api/auth/login", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ email, password }),
          });

          const data = await response.json();
          if (response.ok) {
            errorMessageElement.classList.add("d-none");
            localStorage.setItem("token", data.token); // Store the JWT token in localStorage
            window.location.href = "/home"; // Redirect to home page
          } else {
            errorMessageElement.textContent = data.msg;
            errorMessageElement.classList.remove("d-none");
          }
        });
    </script>
  </body>
</html>
